<!-- index.html -->

<!DOCTYPE html>
<html>
    <head>
        <title>I come from template!!</title>
        <style>
            body {
               background-color: lightyellow;
            }
			container {
				height: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
			}
			display_wrapper {

			}
			em {
                color: LightSeaGreen;
            }
        </style>
    </head>
    <body>
        <h1>Hello World!</h1>
		<div class="container">		
			<div class="display_wrapper"></div>
			<button type="button">我是按鈕</button>
			<button type="button">我是按鈕</button>
		</div>
        <em>{{ current_time }}</em>
    </body>
</html>
